body
{
	font: 85% "Trebuchet MS", sans-serif;
	margin: 5px;
}

table
{
	padding: 0px;
	margin: 0px;
}

.grid
{
	position: absolute;
}

.right 
{
	float: right;
}

.right2
{
	float: right;
	clear: right;
	position: relative; 
	z-index: 1; 
}

.left
{
	float: left;
}

.clear
{
	clear: both;
}

.greyBox
{
	max-width: 175px;
	padding: 10px 10px 10px 10px;
	background-color:#f0f0f0;
	border: 1px dotted #808080;
}

.loading
{
	display:none;
	color: #CCCCCC;
}

.fdName
{
	font: 75% "Trebuchet MS", sans-serif;
	padding-bottom: 15px;
}

.units
{
	font: 65% "Trebuchet MS", sans-serif;
	padding: 2px;
}

.grad1
{ display:none;}
.grad2
{ display:none;}
.grad3
{ display:none;}
