# ignore objects and archives, anywhere in the tree.
*.[oa]
*~
/.scon*
/config.log
/bin
/lib
/src/filter/nimbus
/include/amlibProto.h
/include/amlibfn.h
/include/make_amlib
/include/gitInfo.h
/include/xlatefns.h
/tests/*.pyc
/tests/__pycache__
