body
{
	font: 85% "Trebuchet MS", sans-serif;
	margin: 5px;
}

table
{
	padding: 0px;
	margin: 0px;
}

.grid
{
	position: absolute;
}

.right 
{
	float: right;
}

.right2
{
	float: right;
	clear: right;
	position: relative; 
	z-index: 1; 
}

.left
{
	float: left;
}

.clear
{
	clear: both;
}

.greyBox
{
	max-width: 145px;
	padding: 10px 10px 10px 10px;
	background-color:#f0f0f0;
	border: 1px dotted #808080;
	font-size: 1.1em;
}

.greyBox p 
{
	margin: 3px 0px 0px 0px;
}

.greyBox label {
	font-size: 1.1em;
}

.loading
{
	display:none;
	color: #CCCCCC;
}

.fdName
{
	font: 15px "Trebuchet MS", sans-serif;
}

.units
{
	font: 13px "Trebuchet MS", sans-serif;
}

#slider {
	font-size: 2em;
	width: 94%;
	margin-left: .7em;
}

.grad1
{ display:none;}
.grad2
{ display:none;}
.grad3
{ display:none;}
