[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/ads/scripts/client_call_WINDS
TryExec=
Icon=/usr/share/pixmaps/gnome-monitor.png
X-GNOME-DocPath=
Terminal=false
Name[en_US]=WINDS
GenericName[en_US]=
Comment[en_US]=
